.hide {
    display: none;
}
.show {
    display: block;
}
.custom-content-modal {
    background-color: rgba(221, 221, 221, 0.9);
    height: 640px;
  }
  .modal-content {
    background: rgba(255, 255, 255, 0.7) !important;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 640px;
  }
  body {
    position: relative;
  }
  body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/white-noise.png);
    background-repeat: repeat;
    background-size: contain;
  }
  li {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  li:hover {
    transform: scale(-0.9);
    cursor: pointer;
  }